@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f2efea;
    --foreground: #0c0f0a;

    --card: #f2efea;
    --card-foreground: #0c0f0a;

    --popover: #f2efea;
    --popover-foreground: #0c0f0a;

    --primary: #56104f;
    --primary-foreground: #eec643;

    --secondary: #f2efea;
    --secondary-foreground: #0c0f0a;

    --muted: #eec643;
    --muted-foreground: #56104f;

    --accent: #eec643;
    --accent-foreground: #56104f;

    --destructive: #941555;
    --destructive-foreground: #eec643;

    --border: #56104f;
    --input: #56104f;
    --ring: #eec643;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0c0f0a;
    --foreground: #f2efea;

    --card: #0c0f0a;
    --card-foreground: #f2efea;

    --popover: #0c0f0a;
    --popover-foreground: #f2efea;

    --primary: #eec643;
    --primary-foreground: #56104f;

    --secondary: #0c0f0a;
    --secondary-foreground: #f2efea;

    --muted: #56104f;
    --muted-foreground: #eec643;

    --accent: #56104f;
    --accent-foreground: #eec643;

    --destructive: #eec643;
    --destructive-foreground: #941555;

    --border: #941555;
    --input: #941555;
    --ring: #eec643;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
